.Introduction {
    margin-top: -15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Introduction h1 {
    font-size: 4rem;
}
.bio-image {
    width: 25vw;
    height: 60vh;
    border-radius: 5%;
    box-shadow: 8px 8px 12px 8px rgb(0 0 0 / 13%);
  }
  .header-right {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  @media screen and (max-width: 1200px) and (min-width: 1000px) {
    .bio-image {
        width: 50vw;
        height: 50vh;
        margin: 5vh;
        border-radius: 5%;
        box-shadow: 8px 8px 12px 8px rgb(0 0 0 / 13%);
      }
  }
@media screen and (max-width: 1000px) {
    .Introduction {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .Introduction h1 {
        font-size: 2rem;
    }
    .header-right {
        margin-top: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bio-image {
        width: 50vw;
        height: 40vh;
        margin: 5vh;
        border-radius: 5%;
        box-shadow: 8px 8px 12px 8px rgb(0 0 0 / 13%);
      }
  }